.container {
  padding: 0;
  margin: 0;
}

.container {
  background-color: rgb(240, 240, 240);
}

.container {
  height: 100%;
  display: flex;
  flex-direction: row;
}

.col {
  flex-direction: column;
  display: flex;
  height: 100%;
}

.sideBar {
  overflow-x: hidden;
  width: 250px;
}

.sideBar > .container {
  background-color: white;

  padding: 20px 30px;
  position: fixed;
  width: 250px;

  /* center */
  display: flex;
  flex-direction: column;
  justify-content: flex-start; 
  align-items: center;
}

.sideBar > .closedContainer {
  transform: translateX(-100px);
}

.sideBar > .container > div {
  padding: 5px;
} 

.sideBar hr {
  width: 100%;
  color: darkgray;
}


.headShot {
  opacity: 1;
  transition: 0.2s ease;
  border-radius: 25rem;
}

.headShot:hover {
  opacity: 0.3;
}

.resume {
  opacity: 0;
  transition: 0.2s ease;

  margin-top: 10px;

  height: 150px;
  width: 150px;
  display: block;
  position: absolute;
  font-size: 75px;
  display: flex;

  justify-content: center;
  align-items: center;
}

.resumeContainer:hover > .resume {
  opacity: 1;
}

.info {  
  display: flex;
  flex-direction: column;

  /* start on left hand side of row */
  align-self: flex-start;
  font-size: 12px;
}

.info > div {
  display: grid;
  grid-template-columns: 18px 1fr;
  grid-template-rows: 25px;
}


.info > div > p {
  display: inline;
}

.info .icon {
  font-size: 18px;
}

.widgets {
  cursor: pointer;
  display: flex;
  flex-direction: row;
}

.widgets > .icon {
  margin: 0px 5px;
  font-size: 30px;
}

.content {
  display: flex;
  flex-direction: column;

  /* add 100px for rightnav if exists */
  width: calc(100vw  - 250px);
  height: auto;
  margin-bottom: 50px;
}

.rightNav {
  width: 100px;
}

.rightNav > .container {
  display: flex;
  align-items: center;
}

.projectTitleDesc {
  z-index: 100;
  position: absolute;
  opacity: 0;
  max-width: 350px;
  padding-left: 10px;
  transition: 0.2s ease;
}

.projectTitleDesc > .name {
  font-size: 26px;
  font-weight: 500;
  padding-bottom: 10px;
}

.projectTitleDesc > .dates {
  font-size: 10px;
}

.project {
  max-width: 500px;
}

.project:hover > .projectTitleDesc {
  opacity: 1;
  transition: 0.2s ease;
}

.project img {
  filter: none;
  transition: 0.2s ease;
  object-fit: contain;
}

.project:hover img {
  filter: blur(6px);
  transition: 0.2s ease;
}

.bio {
  padding: 20px 50px;
  width: 90%
}

.title {
  align-self: flex-start;
  padding-left: 75px;
}

.skills {
  padding: 0 75px;
  align-items: flex-start;
  align-self: flex-start;
}

.pill:hover {
  filter: brightness(85%);
  transition: 0.2s ease;
}

@media only screen and (max-width: 950px) {
  .container {
    flex-direction: column;
  }

  .sideBar {
    width: 100vw;
  }

  .sideBar > .container {
    background-color: rgb(240, 240, 240);
    width: 100vw;
    position: relative
  }

  .content {
    width: 100vw;
  }

  .bio {
    width: 100vw;
  }

  .project {
    max-width: 100%;
  }

  .title {
    align-self: center;
    margin-left: -75px;
  }

  .skills {
    padding: 0;
    justify-content: center;
    align-items: center;
    align-self: center;
  }

  .container {
    overflow: hidden;
  }

  .bio {
    height: calc(100vh - 459px);
  }
}

@media only screen and (max-width: 450px) {
  .project {
    max-width: 70%;
  }
}